/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #026fb5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #15a6e9 !default;
$energized:                       #ffbc00 !default;
$assertive:                       #db3a34 !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
// $primary:                         #387ef5 !default;
$primary:                         #41007f !default;


// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../../../node_modules/ionic-angular/release/fonts" !default;

// Include all of Ionic

// @import "../../../node_modules/ionic-angular/css/ionic.css";
// @import "./icons.css";


.ion-nifty-modal {
  width: 90%;
  min-height: 0 !important;
  height: 340px !important;
  top: 15%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-color: transparent;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }

.ion-nifty-modal .ion-modal-content-stream-adjustments {
  width: 100%;
  height: 100%;
  color: #FFF;
  background-color: #333;
  border-radius: 10px; }

.ion-nifty-modal-no-device-data {
  width: 90%;
  min-height: 0 !important;
  height: 310px !important;
  top: 15%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-color: transparent;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }

.ion-nifty-modal-no-device-data .ion-modal-content-no-device-data {
  width: 100%;
  height: 100%;
  color: #FFF;
  background-color: #333;
  border-radius: 10px; }

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5; }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0; } }

.angular-google-map-container { height: 300px; }

/* Use Ionic background variable for ion-content (works with shadow DOM) and keep a fallback */
ion-content.loginpage {
  --background: url('/assets/images/scene2@3x.png') center/cover no-repeat;
background-size: cover;
}

.displayNone{
  display: none;
}

.loginform {
  position: fixed;
  bottom: 20px;
  width: 95%;
}

.registerform {
  position: fixed;
  bottom: 20px;
  width: 95%;
}

.battery {
  color: #00a758;
}

.item-msg.ng-enter {
  animation: slideInDown 1s;
}

.item-msg.ng-leave {
  animation: slideOutUp 1s;
}

.item.disabled {
  background-color: #f6f6f6;
  color: #666;
}

.realtime-label {
  text-overflow: ellipsis;
}

.realtime-value {  
  text-overflow: ellipsis;
  text-align: right;
}

.popup-title {
  color: white;
}

.popup-buttons .button {
  color: white;
}

.error-popup .popup-head {
  background-color: $assertive !important;
}

.warn-popup .popup-head {
  background-color: $energized !important;
}

.info-popup .popup-head {
  background-color: $primary !important;
}

.success-popup .popup-head {
  background-color: $balanced !important;
}

// .item .ng-binding{
//   padding: 12px !important;
// }

.list-padding ion-item {
  padding: 9px;
}

.item-icon-left {
  padding-left: 54px !important;
}

.item .badge{
  top: 9px !important;
}

.realtime-label small{
  font-size: 15px !important;
}
.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 24px;
}

.floating-btn:hover {
  background-color: #0056b3;
}

.cards {
  padding: 10px;
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.column {
  flex: 1;
}
.btn {
border: none;
cursor: pointer;
float: right;
}

.btn-edit {
background-color: white; 
color: black;
}

.btn-delete {
background-color: white; 
color: black;
}
.action-btn{
display: flex;
}
.error{
  color: red;
  margin-left: 4%;
}
.grey{
  color: grey;
}